/* flex items-center gap-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 */
/*p-4 max-w-md mx-auto*/
.input-form {
    padding: 1rem;             /* p-4 */
    max-width: 28rem;           /* max-w-md */
    margin-left: auto;          /* mx-auto (horizontal centering) */
    margin-right: auto;         /* mx-auto (horizontal centering) */
}

.margin-bottom {
    margin-bottom: 1rem;  /* mb-4 */
}

.input-form-label {
    display: block;              /* block */
    font-size: 0.875rem;         /* text-sm, which is 14px by default */
    font-weight: 500;            /* font-medium */
    margin-bottom: 0.5rem;       /* mb-2, which is 8px by default */
}

.input-form-input {
    width: 100%;                 /* w-full */
    padding: 0.5rem;             /* p-2 */
    font-size: 1rem;             /* text-base */
    border: 1px solid #777;   /* border */
    border-radius: 0.375rem;     /* rounded-md */
    background-color: #111;
    color: white;
}

.sound-buttons {
    display: flex;
    gap: 0.5rem;                 /* gap-2 */
    background-color: #000;   /* bg-blue-500 */
    color: white;                 /* text-white */
    padding: 0.5rem 1rem;        /* px-4 py-2 */
    border-radius: 0.375rem;     /* rounded */
}
.start {
    display: flex;
    gap: 2px;
    background-color: #4CAF50;
    color: white;
    padding: 4px 2px;
    border-radius: 4px;
    border: none;
}

.stop-recording {
    display: flex;
    gap: 2px;
    background-color: #F44336;
    color: white;
    padding: 4px 2px;
    border-radius: 4px;
    border: none;
}
.start:hover {
    background-color: #070;
}
.stop-recording:hover {
    background-color: #700;
}

.stop-recording {
    display: flex;
    gap: 2px;
    background-color: #F44336;
    color: white;
    padding: 4px 2px;
    border-radius: 4px;
    border: none;
}

.play-recording {
    display: flex;
    gap: 2px;
    background-color: #000;
    color: #36260e;
    padding: 4px 2px;
    border-radius: 4px;
    border-color: #000;
    border: none;
}