.words {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.active-word {
    color: #f00;
    transition: all 0.5s;
    transform: scale(2);
}

.response {
    /* width: 100%; */
    font-size: 1.6em;
    text-align: center;
}